<app-navbar></app-navbar>
<form>
    <label for="model">Model:</label>
    <input type="text" name="model"><br>
    <label for="type">Tip:</label>
    <input type="text" name="type"><br>
    <label for="year">Godište:</label>
    <input type="number" name="year"><br>
    <label for="name">Naziv:</label>
    <input type="text" name="name"><br>
    <label for="amount">Količina:</label>
    <input type="number" name="amount"><br>
    <label for="price">Cena:</label>
    <input type="number" name="price"><br>
    <input type="radio" name="place">
    <label for="lot">Plac</label>
    <input type="radio" name="place">
    <label for="home">Kuća</label><br>
    <label for="description">Opis</label>
    <textarea name="description"></textarea><br>
    <input type="submit" value="Dodaj">
  </form>
